<mat-accordion multi="true">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Status
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-checkbox>ATO</mat-checkbox><br/>
    <mat-checkbox>At Client</mat-checkbox>
  </mat-expansion-panel>
  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Practice
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-checkbox>Applications & Cloud Technology</mat-checkbox><br/>
    <mat-checkbox>Digital Assurance & Testing</mat-checkbox><br/>
    <mat-checkbox>Digital Manufacturing</mat-checkbox><br/>
    <mat-checkbox>Digital Transformation</mat-checkbox><br/>
    <mat-checkbox>Insights & Data</mat-checkbox>
  </mat-expansion-panel>
  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Core Skills
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-checkbox>Conflict Resolution</mat-checkbox><br/>
    <mat-checkbox>Decision Making</mat-checkbox><br/>
    <mat-checkbox>Adaptability</mat-checkbox><br/>
    <mat-checkbox>Analytical Thinking</mat-checkbox><br/>
    <mat-checkbox>Communication</mat-checkbox><br/>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Technical Skills
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-checkbox>Angular</mat-checkbox><br/>
    <mat-checkbox>ASP.NET</mat-checkbox><br/>
    <mat-checkbox>C#</mat-checkbox><br/>
    <mat-checkbox>ElasticSearch</mat-checkbox><br/>
    <mat-checkbox>SQL</mat-checkbox><br/>
  </mat-expansion-panel>
  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Grade
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-checkbox>A1</mat-checkbox><br/>
    <mat-checkbox>A2</mat-checkbox><br/>
    <mat-checkbox>B</mat-checkbox><br/>
    <mat-checkbox>C</mat-checkbox><br/>
    <mat-checkbox>D1</mat-checkbox><br/>
    <mat-checkbox>D2</mat-checkbox><br/>
    <mat-checkbox>E</mat-checkbox><br/>
  </mat-expansion-panel>
  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Certifications
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-checkbox>AWS</mat-checkbox><br/>
    <mat-checkbox>Azure</mat-checkbox><br/>
    <mat-checkbox>Google</mat-checkbox>
  </mat-expansion-panel>
  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Roles
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-checkbox>Role 1</mat-checkbox><br/>
    <mat-checkbox>Role 2</mat-checkbox><br/>
    <mat-checkbox>Role 3</mat-checkbox>
  </mat-expansion-panel>
</mat-accordion>
