@import "variables";

.header {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}

.underline {
    border-bottom: 1px solid #CCCCCC;
}

.title-container {
    flex: 1 0 auto;
}

.title {
    font-weight: bold;
    margin-bottom: .25em;
    margin-top: .25em;
}

.action-link {
    display: flex;
    flex-direction: row;
}

.primary {
    color: $capgemini-blue;
}

.accent {
    color: $vibrant-blue;
}

.warn {
    color: $tech-red
}