<h1 mat-dialog-title>{{ formTitle }} {{ (type | titlecase) || 'Education or Certification'}}</h1>

<form [formGroup]="eduCertForm" (ngSubmit)="submit()" id="edu-cert-form">
  <mat-dialog-content>
    <mat-radio-group *ngIf="formTitle === 'Add'" formControlName="eduOrCert">
      <mat-label>Type</mat-label>
      <mat-radio-button value="education">Education</mat-radio-button>
      <mat-radio-button value="certifications">Certification</mat-radio-button>
    </mat-radio-group>

    <mat-form-field>
      <mat-label>Institution</mat-label>
      <input matInput formControlName="institution" type="text">
      <mat-error>Institution is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Achievement</mat-label>
      <input matInput formControlName="title" type="text">
      <mat-error>Achievement is required</mat-error>
    </mat-form-field>

    <!-- <mat-form-field>
      <mat-label>Date Received</mat-label>
      <input matInput [matDatepicker]="datePicker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
      <mat-error>Date Received is required</mat-error>
    </mat-form-field> -->
    <mat-form-field>
        <mat-label>Month Received</mat-label>
        <mat-select formControlName= "month">
          <mat-option value = "0">January</mat-option>
          <mat-option value = "1">February</mat-option>
          <mat-option value = "2">March</mat-option>
          <mat-option value = "3">April</mat-option>
          <mat-option value = "4">May</mat-option>
          <mat-option value = "5">June</mat-option>
          <mat-option value = "6">July</mat-option>
          <mat-option value = "7">August</mat-option>
          <mat-option value = "8">September</mat-option>
          <mat-option value = "9">October</mat-option>
          <mat-option value = "10">November</mat-option>
          <mat-option value = "11">December</mat-option>
        </mat-select>
        <mat-error>Month received is required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Year Received</mat-label>
        <mat-select formControlName= "year">
          <mat-option value = "2000">2000</mat-option>
        </mat-select>
        <mat-error>Year received is required</mat-error>
    </mat-form-field>
  </mat-dialog-content>
</form>

<mat-dialog-actions align="end">
  <button mat-button type="button" mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" type="submit" form="edu-cert-form">{{ formAction }}
    {{ type | titlecase}}</button>
</mat-dialog-actions>