<app-consultant-section-header 
  title="Experience" 
  icon="add" 
  (actionClicked)="openCreateExperienceDialog()">
</app-consultant-section-header>


 <section *ngIf="consultant$ | async as consultant">
  <ng-container *ngFor="let experience of consultant.experience; let i = index" >
   <app-consultant-section-experience-header
      title={{experience.companyName}}
      icon="edit"
      (actionClicked)="openEditExperienceDialog(i)">
    </app-consultant-section-experience-header> 

    <p class="jobTitleSpace"> <b> {{experience.title}} </b> </p>
    <p class="dateSpace">{{experience.startDate | date: 'shortDate'}} - {{experience.endDate ? (experience.endDate | date: 'shortDate') : 'Present'}}</p>
    <p *ngFor="let description of experience.descriptions">
      - {{description.summary}}
    </p>
  </ng-container>
</section>


