<div class="title">
  <h1><b>Add New Consultant</b></h1>
</div>
<div class="portfolio-add-component section">
  <div class="container">
    <form #addForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 form-group">
          <label for="profileFirstName">First Name</label>
          <input type="text" 
                class="form-control" 
                id="profileFirstName" 
                aria-describedby="profile First Name" 
                placeholder="First Name"
                [(ngModel)]="profile.firstName" name="firstName">
        </div>
        <div class="col-12 col-md-6 col-lg-4 form-group">
          <label for="profileLastName">Last Name</label>
          <input type="text" 
                class="form-control" 
                id="profileLastName" 
                aria-describedby="profile Last Name" 
                placeholder="Last Name"
                [(ngModel)]="profile.lastName" name="lastName">
        </div>
        <div class="col-12 col-md-6 col-lg-4 form-group">
          <label for="profileEmail">Email</label>
          <input type="text" 
                class="form-control" 
                id="profileEmail" 
                aria-describedby="profile email" 
                placeholder="Sogeti Email"
                [(ngModel)]="profile.email" name="email">
        </div>
        <div class="col-12 col-md-6 col-lg-4 form-group">
          <label for="title">Title</label>
          <input type="text" 
                class="form-control" 
                id="title" 
                placeholder="Title"
                [(ngModel)]="profile.title" name="title">
        </div>
        <div class="col-12 col-md-6 col-lg-4 form-group">
          <label for="skills">Skills</label>
          <input type="text"
                class="form-control"
                id="skills"
                name="skills"
                placeholder="Enter skills (comma or space separated)"
                [(ngModel)]="skillList">
        </div>
        <div class="col-12 col-md-6 col-lg-4 form-group">
          <label for="profilePractice">Practice</label>
          <select class="form-control" 
                  id="profilePractice"
                  [(ngModel)]="profile.practice" name="practice">
            <option *ngFor="let practice of practices" value="{{practice}}">{{practice}}</option>
          </select>
        </div>
        <div class="col-12 col-md-6 col-lg-4 form-group">
          <label for="employeeATO">On ATO</label>
          <select class="form-control" 
                  id="employeeATO"
                  [(ngModel)]="profile.ato" name="ato">
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
