<h1 mat-dialog-title>Edit Personal Information</h1>

<form *ngIf="consultant$ | async" [formGroup]="headerForm" (ngSubmit)="updateConsultant()" id="header-form">
    <mat-dialog-content>
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" type="text">
            <mat-error>First Name is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" type="text">
            <mat-error>Last Name is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Title</mat-label>
            <mat-select formControlName="title" placeholder="Title">
              <mat-option value = "Associate Consultant">Associate Consultant</mat-option>
              <mat-option value = "Consultant">Consultant</mat-option>
              <mat-option value = "Senior Consultant">Senior Consultant</mat-option>
              <mat-option value = "Manager">Manager</mat-option>
              <mat-option value = "Senior Manager">Senior Manager</mat-option>
              <mat-option value = "Director">Director</mat-option>
              <mat-option value = "Vice President">Vice President</mat-option>
            </mat-select>
          <mat-error>Title is Required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Practice</mat-label>
            <mat-select formControlName = "practice" placeholder = "No Practice Selected">
                <mat-option value = "Applications & Cloud Technology">Applications & Cloud Technology</mat-option>
                <mat-option value = "Digital Assurance & Testing">Digital Assurance & Testing</mat-option>
                <mat-option value = "Digital Manufacturing">Digital Manufacturing</mat-option>
                <mat-option value = "Digital Transformation">Digital Transformation</mat-option>
                <mat-option value = "Insights & Data">Insights & Data</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select formControlName= "status" placeholder = "At Client">
                <mat-option value = "At Client">At Client</mat-option>
                <mat-option value = "ATO">ATO</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email">
            <mat-error *ngIf="email?.errors?.email">Email is not in valid email format, e.g. name@address.com</mat-error>
            <mat-error *ngIf="email?.errors?.required">Email is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Phone Number - Optional</mat-label>
            <input matInput formControlName="phone" type="tel">
            <mat-error *ngIf="phone?.errors?.required">Phone number is required</mat-error>
            <mat-error *ngIf="phone?.errors?.pattern">Phone number must only contain numbers</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>LinkedIn - Optional</mat-label>
            <input matInput formControlName="urlLinkedIn" type="text">
            <mat-error *ngIf="linkedIn?.errors?.pattern">URL must begin with http:// or https://</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>GitHub - Optional</mat-label>
            <input matInput formControlName="urlGitHub" type="text">
            <mat-error *ngIf="gitHub?.errors?.pattern">URL must begin with http:// or https://</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Wordpress - Optional</mat-label>
            <input matInput formControlName="urlWordpress" type="text">
            <mat-error *ngIf="wordpress?.errors?.pattern">URL must begin with http:// or https://</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Personal Link - Optional</mat-label>
            <input matInput formControlName="urlPersonal" type="text">
            <mat-error *ngIf="personal?.errors?.pattern">URL must begin with http:// or https://</mat-error>
        </mat-form-field>
    </mat-dialog-content>
</form>

<mat-dialog-actions align="end">
    <button mat-raised-button type="button" mat-dialog-close>CANCEL</button>
    <button mat-raised-button color="accent" type="submit" form="header-form" cdkFocusInitial>SAVE</button>
</mat-dialog-actions>
