<h1 mat-dialog-title>Edit Summary</h1>

<form *ngIf="consultant$ | async" [formGroup]="summaryForm" (ngSubmit)="updateConsultant()" id="summary-form">
    <mat-dialog-content>
        <mat-form-field class="full-width" display="flex">
            <mat-label>Summary</mat-label>
            <textarea matInput formControlName="summary"></textarea>
            <mat-error>Summary is required</mat-error>
        </mat-form-field>
    </mat-dialog-content>
</form>

<mat-dialog-actions align="end">
    <button mat-raised-button type="button" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="accent" type="submit" form="summary-form" cdkFocusInitial>Save</button>
</mat-dialog-actions>
