@import 'variables';

.img {
    padding-top: 35px;
    padding-bottom: 45px;
    display: block;
    width: 15%;
}

  .logo-container {
    justify-content: center;
  }

  .footer {
    height: 20px;
    background-color: $vibrant-blue;
  }

  :host.footer { flex-shrink: 0; }
  