@import '/Users/briannaswallow/Documents/profileapp/sogeti-portfolio/src/assets/styles/_variables.scss';

footer {
    background-color: $vibrant-blue;
    height: 10px;

}

img {
    padding-top: 35px;
    padding-bottom: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}