@import '../../styles/variables';

.search-component {
  border-bottom: 1px solid $color-light;
  padding-top: 0;
  padding-bottom: $spacing-reg;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}