<div class="portfolio-add-component section">
  <div class="container">
    <form #addForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12 col-md-6 form-group">
          <label for="profileFirstName">First Name</label>
          <input type="text" 
                class="form-control" 
                id="profileFirstName" 
                aria-describedby="profile First Name" 
                placeholder="First Name"
                [(ngModel)]="profile.firstName" name="firstName">
        </div>
        <div class="col-12 col-md-6 form-group">
          <label for="profileLastName">Last Name</label>
          <input type="text" 
                class="form-control" 
                id="profileLastName" 
                aria-describedby="profile Last Name" 
                placeholder="Last Name"
                [(ngModel)]="profile.lastName" name="lastName">
        </div>
        <div class="col-12 col-md-6 form-group">
          <label for="profileSkills">Skills</label>
          <select class="form-control" 
                  id="profileSkills"
                  [(ngModel)]="profile.skills" name="skills">
            <option value="html">HTML</option>
            <option value="css">CSS</option>
            <option value="javascript">JavaScript</option>
          </select>
        </div>
        <div class="col-12 col-md-6 form-group">
          <label for="profilePractice">Practice</label>
          <select class="form-control" 
                  id="profilePractice"
                  [(ngModel)]="profile.practice" name="practice">
            <option value="act">ACT</option>
            <option value="analytics">BI & Analytics</option>
            <option value="cloud">Cloud</option>
            <option value="testing">Testing</option>
            <option value="dt">DT</option>
          </select>
        </div>
        <div class="col-12 col-md-6 form-group">
          <label for="employeeATO">On ATO</label>
          <select class="form-control" 
                  id="employeeATO"
                  [(ngModel)]="profile.ato" name="ato">
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
