@import '../../../styles/variables.scss';

@media screen and (min-width: 0px) and (max-width: 544px) {
    div.photo-container { display: none; } 
  }

.profile-photo {
    width: 100%;
    border-radius: 5px;
    min-width: 50px;
}

.skills-title {
    text-decoration: underline;
}

.card {
    padding: 15px;
    border: none;
    box-shadow: 10px;
}

i {
    padding-right: 10px;
    padding-top: 3px;
    cursor: pointer;
}

button {
    margin-top: 15px;
}

h4.subheader {
    background-color: $primary-color;
    color: white;
    padding-bottom: 4px;
    padding-left: 8px;
    margin-top: 20px;
    border-radius: 5px;
}

.skills-icons {
    padding-top: 10px;
}

.name-ato {
    display: flex;
    justify-content: flex-start;
}

.ato {
    display: flex;
    align-items: flex-end;
}

.title-practice {
    display: flex;
    justify-content: flex-start;
}