<h1 mat-dialog-title>Change Profile Picture</h1>

<form *ngIf="consultant$ | async as consultant" (ngSubmit)="updateConsultant(consultant)" id="picture-form" >
  <mat-dialog-content>
    <button mat-raised-button color="primary" class="upload-button" (click)="upload.click()">CHOOSE FILE</button>
    <input type="file" class="file-input" (change)="fileChangeEvent($event)" #upload />

    <image-cropper
      *ngIf="imageChangedEvent"
      class="crop"
      [imageChangedEvent]="imageChangedEvent"
      [aspectRatio]="1 / 1"
      [resizeToWidth]="375"
      format="png"
      outputType="base64"
      cropperMinWidth="375"
      onlyScaleDown="true"
      maintainAspectRatio="true"
      roundCropper="true"
      (imageCropped)="imageCropped($event)">
    </image-cropper>
  </mat-dialog-content>
</form>

<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="close()">CANCEL</button>
  <button mat-raised-button color="primary" type="submit" (click)="test()" form="picture-form" cdkFocusInitial>CROP & SAVE</button>
</mat-dialog-actions>
