@import '../../../styles/variables.scss';

.profile-photo {
    width: 100%;
    border-radius: 5px;
}

.skills-title {
    text-decoration: underline;
}

.card {
    padding: 15px;
    border: none;
    box-shadow: 10px;
}

i {
    font-size: 3rem !important;
    padding-right: 10px;
}

h4.subheader {
    background-color: $primary-color;
    color: white;
    padding-bottom: 4px;
    padding-left: 8px;
    margin-top: 20px;
    border-radius: 5px;
}

.skills-icons {
    padding-top: 10px;
}