.profile-photo {
    width: 100%;
    border-radius: 5px;
}

.skills-title {
    text-decoration: underline;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    padding: 15px;
}

i {
    font-size: 3rem !important;
    padding-right: 10px;
}

.skills-icons {
    padding-top: 10px;
}