<div class="mat-typography">
    <!--
        <app-header></app-header>

        <router-outlet></router-outlet>

        <app-footer></app-footer>
    -->

    <div class="container" style="padding-top: 1rem; padding-bottom: 1rem;">
        <h1><b>Typography</b></h1>

        <p>
            Capgemini branding standards use <em>Ubuntu Mono</em> for primary headlines. <b>Bold</b> and regular weights
            are both valid options for any headline. <em>Ubuntu</em> is Capgemini's body font and is discouraged for
            primary headlines. It is to be used for all other headlines as well. <b>???</b> weights are valid options
            for body text.
        </p>

        <h1><b>Primary Headline (h1)</b></h1>
        <h1>Primary Headline (h1)</h1>

        <h2><b>Title (h2)</b></h2>
        <h2>Title (h2)</h2>

        <h3><b>Subheading 2 (h3)</b></h3>
        <h3>Subheading 2 (h3)</h3>

        <h4><b>Subheading 1 (h4)</b></h4>
        <h4>Subheading 1 (h4)</h4>

        <h1><b>Brand Color</b></h1>
        <h3 class="text-capgemini-blue"><b>Capgemini Blue</b></h3>
        <h3 class="text-vibrant-blue"><b>Vibrant Blue</b></h3>
        <h3 class="text-deep-purple"><b>Deep Purple</b></h3>
        <h3 class="text-tech-red"><b>Tech Red</b></h3>
        <h3 class="text-zest-green"><b>Zest Green</b></h3>

        <h1><b>Buttons</b></h1>

        <p>
            <button mat-raised-button color="primary" style="margin-right: 1rem;">Primary</button>
            <button mat-raised-button color="accent" style="margin-right: 1rem;">Secondary</button>
            <button mat-raised-button color="warn" style="margin-right: 1rem;">Warn</button>
            <button mat-raised-button style="margin-right: 8px;" disabled>Disabled</button>
        </p>

        <p>
            <button mat-button color="primary" style="margin-right: 8px;">Primary</button>
            <button mat-button color="accent" style="margin-right: 8px;">Secondary</button>
            <button mat-button color="warn" style="margin-right: 8px;">Warn</button>
            <button mat-button style="margin-right: 8px;" disabled>Disabled</button>
        </p>

        <p>
            <button mat-stroked-button color="primary" style="margin-right: 8px;">Primary</button>
            <button mat-stroked-button color="accent" style="margin-right: 8px;">Secondary</button>
            <button mat-stroked-button color="warn" style="margin-right: 8px;">Warn</button>
            <button mat-stroked-button style="margin-right: 8px;" disabled>Disabled</button>
        </p>

        <p>
            <button mat-flat-button color="primary" style="margin-right: 8px;">Primary</button>
            <button mat-flat-button color="accent" style="margin-right: 8px;">Secondary</button>
            <button mat-flat-button color="warn" style="margin-right: 8px;">Warn</button>
            <button mat-flat-button style="margin-right: 8px;" disabled>Disabled</button>
        </p>
    </div>
</div>