<app-header></app-header>

<router-outlet></router-outlet>

<app-footer></app-footer>


    <div class="container" style="padding-top: 1em; padding-bottom: 1em;">

        <h1><b>Typography</b></h1>

        <p>Here is an <a href="#">example link</a>.</p>

        <div class="row">
            <div class="col">
                <h1><b>Headline (h1)</b></h1>
                <h2><b>Title (h2)</b></h2>
                <h3><b>Subheading 2 (h3)</b></h3>
                <h4><b>Subheading 1 (h4)</b></h4>
            </div>
            <div class="col">
                <h1>Headline (h1)</h1>
                <h2>Title (h2)</h2>
                <h3>Subheading 2 (h3)</h3>
                <h4>Subheading 1 (h4)</h4>
            </div>
        </div>

        <h1><b>Brand Color</b></h1>
        <h3 class="text-capgemini-blue"><b>Capgemini Blue</b></h3>
        <h3 class="text-vibrant-blue"><b>Vibrant Blue</b></h3>
        <h3 class="text-deep-purple"><b>Deep Purple</b></h3>
        <h3 class="text-tech-red"><b>Tech Red</b></h3>
        <h3 class="text-zest-green"><b>Zest Green</b></h3>

        <h1><b>Buttons</b></h1>
        <p>
            <button mat-raised-button color="primary">Primary</button>
            <button mat-raised-button color="accent">Secondary</button>
            <button mat-raised-button color="warn">Warn</button>
            <button mat-raised-button disabled>Disabled</button>
        </p>

        <p>
            <button mat-button color="primary">Primary</button>
            <button mat-button color="accent">Secondary</button>
            <button mat-button color="warn">Warn</button>
            <button mat-button disabled>Disabled</button>
        </p>

        <p>
            <button mat-stroked-button color="primary">Primary</button>
            <button mat-stroked-button color="accent">Secondary</button>
            <button mat-stroked-button color="warn">Warn</button>
            <button mat-stroked-button disabled>Disabled</button>
        </p>

        <p>
            <button mat-flat-button color="primary">Primary</button>
            <button mat-flat-button color="accent">Secondary</button>
            <button mat-flat-button color="warn">Warn</button>
            <button mat-flat-button disabled>Disabled</button>
        </p>
    </div>