<h1 mat-dialog-title>Edit Core Skills</h1>

<form *ngIf="consultant$ | async" [formGroup]="skillsForm" (ngSubmit)="updateConsultant()">
    <mat-dialog-content>
      <mat-form-field>
        <mat-select placeholder="Select">
          <mat-option value="option">Search for skills (ex: HTML)</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-dialog-content>

  <!-- <mat-dialog-actions align="end">
      <button mat-button type="button" (click)="close()">CANCEL</button>
      <button mat-raised-button color="primary" type="submit" cdkFocusInitial>SAVE</button>
  </mat-dialog-actions> -->
</form>
