<h1 mat-dialog-title>Edit Core Skills</h1>

<form *ngIf="consultant$ | async" [formGroup]="skillsForm" (ngSubmit)="updateConsultant()">
  <!-- <mat-form-field appearance="outline">
    <mat-select placeholder="Search for skills (ex: HTML)">
      <mat-option value="option">Teamwork</mat-option>
      <mat-option value="option">Leadership</mat-option>
      <mat-option value="option">Communications</mat-option>
      <mat-option value="option">UI Designer</mat-option>
      <mat-option value="option">UI Designer</mat-option>
    </mat-select>
    <mat-label><mat-icon>search</mat-icon> <b> Search for skills (ex: HTML)</b></mat-label>
  </mat-form-field> -->

  <!-- <mat-form-field class="chip-list" appearance="outline">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let skill of skills" [selectable]="selectable"
                 [removable]="removable" (removed)="remove(skill)">
          {{skill.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <mat-icon>search</mat-icon>
        <input placeholder="Search for skills (ex: HTML)"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field> -->

    <mat-form-field class="chip-list">
        <mat-chip-list #chipList>
          <mat-chip
            *ngFor="let skill of skillss"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(skill)">
            {{skill}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Search for skills (ex: HTML)"
            #skillInput
            [formControl]="skillCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let skill of filteredSkills | async" [value]="skill">
            {{skill}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

  <mat-dialog-actions align="end">
      <button mat-button type="button" (click)="close()">CANCEL</button>
      <button mat-raised-button color="primary" type="submit" cdkFocusInitial>SAVE</button>
  </mat-dialog-actions>
</form>
