<div class="top-bar">
    <div class="row">
        <div class="col-md-6">
                <button mat-button [routerLink]="['/']"><img class="img-home" src="../../../assets/img//Sogeti_Spade.png"></button>
        </div>
        <div class="col-md-6">
            <div class="search-box">
                <mat-form-field apperance="outline">
                        <input type="text" matInput placeholder="Search by Name, Status, Practice or Skills">
                        <button mat-button><mat-icon>search</mat-icon></button>
                    </mat-form-field>             
            </div>
        </div>
    </div>
</div>