<h1 mat-dialog-title>Edit Education and Certifcation</h1>

<form *ngIf="consultant$ | async" [formGroup]="educationCertificationForm" (ngSubmit)="updateConsultant()">
  <div class="container">
    <div class="row" class="text-field">
      <mat-radio-group aria-label="Select an option" formControlName="eduOrCert0">
        <mat-radio-button value="1">Education</mat-radio-button>
        <mat-radio-button value="2">Certifcation</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="row">
      <mat-form-field class="full-width" display="flex">
        <mat-label>Institute Name</mat-label>
        <input matInput formControlName="school0" type="text">
        <mat-error>Institute Name is required</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="full-width" display="flex">
        <mat-label>Achievement Title</mat-label>
        <input matInput formControlName="levelOfDegree0" type="text">
        <mat-error>Title is required</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="full-width" display="flex">
        <mat-label>Date</mat-label>
        <input matInput formControlName="endDate0" [matDatepicker]="myDatepicker">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
        <mat-error>Date is required</mat-error>
      </mat-form-field>
    </div>
  </div>

  <mat-dialog-actions align="end">
    <span class="right-button">
      <button mat-stroked-button color="accent" type="button" (click)="close()">CANCEL</button>
      <button mat-raised-button class="save" color="accent" type="submit" cdkFocusInitial>SAVE</button>
    </span>
  </mat-dialog-actions>
</form>
