<app-section-header title="Education & Certifications" titleColor="primary" [underline]="true">
  <button mat-icon-button color="primary" (click)="openAddEducationCertificationDialog()">
    <mat-icon>add</mat-icon>
  </button>
</app-section-header>

<section *ngIf="consultant$ | async as consultant">
  <ng-container *ngFor="let education of consultant.education; let i = index">
    <app-section-sub-header [title]="education.school.name" titleColor="accent" [underline]="false" class="edu-cert-header"> 
      <!-- <b>{{education.school.name}}</b> -->
      <button mat-icon-button color="accent" (click)="openDeleteEducationCertificationDialog(i, 'education')">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="openEditEducationCertificationDialog(education, i, 'education')">
        <mat-icon>edit</mat-icon>
      </button>
    </app-section-sub-header>
    <p class="eduSubjectSpace">{{education.subject}}</p>
    <p class="dateSpace">{{education.endDate | date: 'shortDate'}}</p>
  </ng-container>

  <ng-container *ngFor="let certification of consultant.certifications; let i = index">
    <app-section-sub-header [title]="certification.name" titleColor="accent" [underline]="false" class="edu-cert-header">
      <!-- <b>{{certification.name}}</b> -->
      <button mat-icon-button color="accent" (click)="openDeleteEducationCertificationDialog(i, 'certifications')">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="openEditEducationCertificationDialog(certification, i, 'certifications')">
        <mat-icon>edit</mat-icon>
      </button>
    </app-section-sub-header>

    <p class="certTitleSpace">{{certification.title}}</p>
    <p class="dateSpace">{{certification.dateRecieved | date: 'shortDate'}}</p>
  </ng-container>
</section>