<div class="portfolio-add-component section">
  <div class="container">
    <form class="row">
      <div class="col-12 col-md-6 form-group">
        <label for="employeeFirstName">First Name</label>
        <input type="text" class="form-control" id="employeeFirstName" aria-describedby="Employee First Name" placeholder="First Name">
      </div>
      <div class="col-12 col-md-6 form-group">
        <label for="employeeFirstName">Last Name</label>
        <input type="text" class="form-control" id="employeeLastName" aria-describedby="Employee Last Name" placeholder="Last Name">
      </div>
      <div class="col-12 col-md-6 form-group">
        Skillz
      </div>
      <div class="col-12 col-md-6 form-group">
        <label for="employeeSchool">College Stuff</label>
        <input type="text" class="form-control" id="employeeSchool" aria-describedby="Employee College" placeholder="College">
      </div>
      <div class="col-12 col-md-6 form-group">
        <label for="employeeSchool">College Stuff</label>
        <input type="text" class="form-control" id="employeeSchool" aria-describedby="Employee College" placeholder="College">
      </div>
    </form>
  </div>
</div>
