@import "breakpoints";

@include media-breakpoint-down(sm) {
    .picture-container, .picture {
        width: 250px;
        height: 250px;

        .edit-button {
            bottom: 12px;
            right: 12px;
        }
    }

    .picture-wrapper {
        margin-bottom: 1.5em;
    }

    .consultant-title, .consultant-email {
        font-size: 1.25em;
        margin-bottom: .5em;
    }

    .icon {	
        margin: 15px;
    }
}

@include media-breakpoint-up(sm) {
    .picture-container, .picture {
        width: 375px;
        height: 375px;
    }

    .edit-button {
        bottom: 32px;
        right: 32px;
    }

    .picture-wrapper {
        margin-bottom: 2em;
    }

    .icon {	
        margin: 20px;
    }
}

.container {
    text-align: center;
}

.picture-wrapper {
    display: flex;
    justify-content: center;
}

.picture-container {
    position: relative;
}

.picture { 
    overflow: hidden;
    border-radius: 50%;
}

.edit-button {
    position: absolute;
    z-index: 999;
}

.consultant-name {
    line-height: 1.25em;
    font-size: 3em;
    margin-bottom: .5em;
}

.icon {	
    height: 25px;	
    width: 25px;
}
