<section class="container">

  <ng-container *ngIf="consultant$ | async as consultant">
      <h1>
        {{ consultant.firstName }}
        {{ consultant.lastName }}
      </h1>
        <br>
      <h2>
        {{ consultant.title.name }} | <b>{{ consultant.practice.longName }}</b>
      </h2>
        <br>
        {{ consultant.email }}
        <br>
  </ng-container>

        <p><b>Sogeti Austin</b> | 10900 Stonelake Blvd, Suite 195 | Quarry Oaks | Austin, TX 78759</p>
        <br>
        <p>Phone: (512) 949-5980 | Fax: (877) 399-4598</p>

</section>