<h1 mat-dialog-title>Edit {{ title }} Skills</h1>

<form mat-dialog-content *ngIf="consultant$ | async" (ngSubmit)="updateConsultant()" id="skill-form">
  <app-consultant-skills-edit-add-remove>
  </app-consultant-skills-edit-add-remove>

  <app-consultant-skills-edit-reorder-display>
  </app-consultant-skills-edit-reorder-display>
</form>

<mat-dialog-actions mat-dialog-actions align="end">
  <button mat-stroked-button color="accent" type="button" (click)="close()">CANCEL</button>
  <button mat-raised-button color="accent" class="save" type="submit" form="skill-form">SAVE</button>
</mat-dialog-actions>