<h1 mat-dialog-title>Edit {{ title }} Skills</h1>

<form mat-dialog-content *ngIf="consultant$ | async" (ngSubmit)="updateConsultant()" id="skill-form">
  <app-consultant-skills-edit-add-remove>
  </app-consultant-skills-edit-add-remove>

  <app-consultant-skills-edit-reorder-display>
  </app-consultant-skills-edit-reorder-display>
</form>

<mat-dialog-actions align="end">
  <button mat-raised-button type="button" mat-dialog-close>CANCEL</button>
  <button mat-raised-button color="accent" type="submit" form="skill-form" cdkFocusInitial>SAVE</button>
</mat-dialog-actions>