/* You can add global styles to this file, and also import other style files */
@import './styles/variables';

.section {
  padding-top: $spacing-reg * 2;
  padding-bottom: $spacing-reg * 2;
}

body {
  background-color: $background-color;
  font-family: $primary-font;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
}