<div class="row">
  <div class="col-md-3">
    <button mat-raised-button color="primary" class="add-button" [routerLink]="['/consultant']">ADD NEW CONSULTANT</button>
    <div class="search-panel">
        <app-consultants-search-sidebar></app-consultants-search-sidebar>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row" *ngFor="let consultant of consultants$ | async">
      <app-consultants-profile-display [consultant]="consultant" style="width:100%;"></app-consultants-profile-display>
    </div>
  </div>
</div>