<div class="search-component">
  <div class="container">
    <form class="row">
      <div class="col-12 col-md-4 form-group">
        <label for="employeePractice">Practice</label>
        <select class="form-control" id="employeePractice">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="col-12 col-md-8 form-group">
        <label for="employeeName">Employee Name</label>
        <input type="text" class="form-control" id="employeeName" aria-describedby="employeeNameHelp" placeholder="Search">
        <small id="employeeNameHelp" class="form-text text-muted">Employee Name Help Text</small>
      </div>
    </form>
  </div>
</div>
