<div class="search-component section">
  <div class="container">
    <form #searchForm="ngForm" class="row align-items-end" (ngSubmit)="onSubmit()">
      <div class="col-12 col-md-2 form-group">
        <label for="employeeATO">ATO</label>
        <select class="form-control" 
                id="employeeATO"
                [(ngModel)]="search.ato" name="ato">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </div>
      <div class="col-12 col-md-2 form-group">
        <label for="employeePractice">Practice</label>
        <select class="form-control" 
                id="employeePractice"
                [(ngModel)]="search.practice" name="practice">
          <option value="act">ACT</option>
          <option value="analytics">BI & Analytics</option>
          <option value="cloud">Cloud</option>
          <option value="testing">Testing</option>
          <option value="dt">DT</option>
        </select>
      </div>
      <div class="col-12 col-md-2 form-group">
        <label for="skills">Skills</label>
        <input type="text" 
                class="form-control" 
                id="skills"
                [(ngModel)]="searchSkills" 
                name="skills"/>
      </div>
      <div class="col-12 col-md-2 form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      <!-- <div class="col-12 col-md-6 form-group">
        <label for="employeeSearch">Search</label>
        <input aria-describedby="profile search"
              class="form-control" 
              id="employeeSearch" 
              placeholder="Search" 
              [(ngModel)]="search.search" name="search" />
      </div> -->
    </form>
  </div>
</div>
<div class="portfolio-items section">
  <div class="container">
    <p *ngIf="results.length === 0">No results found.</p>
    <app-profile-item *ngFor="let profile of results" 
      name="{{profile.firstName + ' ' + profile.lastName}}" 
      title="{{profile.title}}" 
      practice="{{profile.practice}}"></app-profile-item>
  </div>
</div>
