<div class="search-component section">
  <div class="container">
    <form #searchForm="ngForm" class="row align-items-center">
      <div class="col-12 col-md-2 form-group">
        <label for="employeeATO">ATO</label>
        <select class="form-control" id="employeeATO">
          <option>Yes</option>
          <option>No</option>
        </select>
      </div>
      <div class="col-12 col-md-2 form-group">
        <label for="employeePractice">Practice</label>
        <select class="form-control" 
                id="employeePractice"
                [(ngModel)]="profile.practice" name="practice">
          <option>ACT</option>
          <option>BI & Analytics</option>
          <option>Cloud</option>
          <option>Testing</option>
          <option>DT</option>
        </select>
      </div>
      <div class="col-12 col-md-2 form-group">
        <label for="employeeSkill">Skill</label>
        <select class="form-control" 
                id="employeeSkill"
                [(ngModel)]="profile.skill" name="skill">
          <option>HTML</option>
          <option>CSS</option>
          <option>JavaScript</option>
          <option>.NET</option>
        </select>
      </div>
      <div class="col-12 col-md-6 form-group">
        <label for="employeeSearch">Search</label>
        <input aria-describedby="profile search"
              class="form-control" 
              id="employeeSearch" 
              placeholder="Search" 
              [(ngModel)]="profile.search" name="search" />
      </div>
    </form>
  </div>
</div>
<div class="portfolio-items section">
  <div class="container">
    <app-portfolio-item name="Joe Slater" title="Manager" practice="Digital Transformation"></app-portfolio-item>
    <app-portfolio-item name="Joe Slater" title="Manager" practice="Digital Transformation"></app-portfolio-item>
    <app-portfolio-item name="Joe Slater" title="Manager" practice="Digital Transformation"></app-portfolio-item>
  </div>
</div>
