mat-form-field {
  width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.save{
  margin-left: 15px;
}

.add-edu-cert {
  margin-right: 15px;
}
