// Styles to apply to Angular Material components

.mat-form-field {
    margin-bottom: .5rem;
}

.cdk-global-scrollblock {
    position: initial !important;
    overflow: hidden !important;
 }
// Colors
// These can be used when assigning the color="..." property in an Angular Material component
// E.g. <button mat-raised-button color="white">Button</button>
.mat-white {
    background: #fff;
}

// Maximize dialog's when on mobile
// A dependency injection factory that uses the BreakpointObserver to provide a different
// global config to dialog's may be an alternative to this
@import "breakpoints";

@include media-breakpoint-down(sm) {
    .mat-dialog-container {
        border-radius: 0 !important;
        width: 100vw !important;
        height: 100vh !important;
    }
    /*
    .mat-dialog-actions {
        margin-bottom: 0px !important;
        position: absolute;
        bottom: 0;
        right: 24px;
    }
    */
}