$mat-capgemini-blue: (
    50 : #e0eef5,
    100 : #b3d4e6,
    200 : #80b8d6,
    300 : #4d9bc6,
    400 : #2685b9,
    500 : #0070ad,
    600 : #0068a6,
    700 : #005d9c,
    800 : #005393,
    900 : #004183,
    A100 : #b0d1ff,
    A200 : #7db3ff,
    A400 : #4a96ff,
    A700 : #3087ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$mat-vibrant-blue: (
    50 : #e3f6fb,
    100 : #b8e8f4,
    200 : #89d9ed,
    300 : #59cae6,
    400 : #36bee0,
    500 : #12b3db,
    600 : #10acd7,
    700 : #0da3d2,
    800 : #0a9acd,
    900 : #058bc4,
    A100 : #edf9ff,
    A200 : #bae8ff,
    A400 : #87d7ff,
    A700 : #6eceff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-deep-purple: (
    50 : #e6e2e8,
    100 : #bfb6c5,
    200 : #95859e,
    300 : #6b5477,
    400 : #4b2f5a,
    500 : #2b0a3d,
    600 : #260937,
    700 : #20072f,
    800 : #1a0527,
    900 : #10031a,
    A100 : #ac58ff,
    A200 : #9225ff,
    A400 : #7900f1,
    A700 : #6c00d8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mat-tech-red: (
    50 : #fde6ea,
    100 : #fac1c9,
    200 : #f798a6,
    300 : #f46e82,
    400 : #f14f67,
    500 : #ef304c,
    600 : #ed2b45,
    700 : #eb243c,
    800 : #e81e33,
    900 : #e41324,
    A100 : #ffffff,
    A200 : #ffe0e1,
    A400 : #ffadb2,
    A700 : #ff939a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-zest-green: (
    50 : #f2fce2,
    100 : #dff7b7,
    200 : #caf288,
    300 : #b5ed58,
    400 : #a5e934,
    500 : #95e510,
    600 : #8de20e,
    700 : #82de0c,
    800 : #78da09,
    900 : #67d305,
    A100 : #fdfffc,
    A200 : #e0ffc9,
    A400 : #c2ff96,
    A700 : #b3ff7c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
