// Colors
.text-capgemini-blue {
    color: $capgemini-blue;
}

.text-vibrant-blue {
    color: $vibrant-blue;
}

.text-deep-purple {
    color: $deep-purple; 
}

.text-tech-red {
    color: $tech-red;
}

.text-zest-green {
    color: $zest-green;
}

// Weights
.text-light {
    font-weight: 300;
}

.text-medium {
    font-weight: 500;
}

// Links
a {
    font-weight: $weight-medium;
    color: $vibrant-blue;
    text-decoration: none;

    &:hover {
        color: $vibrant-blue;
        text-decoration: underline;
        text-decoration-style: solid;
    }
}
