.text-capgemini-blue {
    color: $capgemini-blue;
}

.text-vibrant-blue {
    color: $vibrant-blue;
}

.text-deep-purple {
    color: $deep-purple; 
}

.text-tech-red {
    color: $tech-red;
}

.text-zest-green {
    color: $zest-green;
}