/* You can add global styles to this file, and also import other style files */

// Variables
// Importing this first also means we don't have to import variables into the 
// below imported partials and stylesheets and they'll still have access to them.
// We can also override variables from partials and stylesheets we import after this one.
@import 'variables'; 

// Normalize
@import 'normalize';

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap-grid";

// Material
@import 'sogeti-mat-theme';
@import 'material';

// Our styles
@import 'text';
@import 'footer';

// temporary fix for expansion panels until Angular Material Issue is fixed
// each time you open the edit page the expansino panels flash open for a sec without this fix
// see https://github.com/angular/material2/issues/13870
mat-accordion mat-expansion-panel {
  mat-expansion-panel-header {
    height: 48px; 
  }
  .mat-expansion-panel-content {
    height: 0;
  }
  &.mat-expanded {
    mat-expansion-panel-header {
      height: 64px;
    }
    .mat-expansion-panel-content {
      height: auto;
    }
  }
}
