<div class="container">
  <div class="card">
    <div class="card-body">
      <h2 class="h5 card-title">Example Consultant</h2>
      <h3 class="h6 card-subtitle mb-2 text-muted">Senior Consultant</h3>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper suscipit lobortis. Morbi consectetur vestibulum erat quis viverra. Etiam eget ligula mattis, gravida nulla et, sodales ex. Suspendisse dictum dolor id eros vulputate sollicitudin. Curabitur nisl ex, convallis nec tincidunt et, pulvinar in nulla. Nulla accumsan, turpis eu malesuada suscipit, magna nibh aliquet sem, vel maximus massa erat vel nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce ullamcorper ut ipsum in efficitur.</p>
      <a href="#" class="card-link">View Profile</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="card">
    <div class="card-body">
      <h2 class="h5 card-title">Example Consultant 2</h2>
      <h3 class="h6 card-subtitle mb-2 text-muted">Associate Consultant</h3>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper suscipit lobortis. Morbi consectetur vestibulum erat quis viverra. Etiam eget ligula mattis, gravida nulla et, sodales ex. Suspendisse dictum dolor id eros vulputate sollicitudin. Curabitur nisl ex, convallis nec tincidunt et, pulvinar in nulla. Nulla accumsan, turpis eu malesuada suscipit, magna nibh aliquet sem, vel maximus massa erat vel nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce ullamcorper ut ipsum in efficitur.</p>
      <a href="#" class="card-link">View Profile</a>
    </div>
  </div>
</div>