<h1 mat-dialog-title>Edit Core Skills</h1>

<form *ngIf="consultant$ | async" (ngSubmit)="updateConsultant()">
  <mat-form-field class="chip-list" appearance="outline">

    <mat-chip-list #chipList>
      <mat-chip 
        *ngFor="let skill of selectedSkills$ | async" 
        removable="true" 
        color="primary"
        (removed)="remove(skill)">
        {{ skill.name }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>

    <div class="input-container">
      <mat-icon>search</mat-icon>
      <input
        #skillInput
        placeholder="Search for skills"
        matChipInputAddOnBlur="true" 
        [formControl]="skillCtrl" 
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addNewSkill($event)">
    </div>

    <mat-autocomplete 
      autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="selected($event)">
      <mat-option *ngFor="let skill of filteredAvailableSkills$ | async" [value]="skill" [disabled]="skill.selected">
        {{ skill.name }} <ng-container *ngIf="skill.selected">(Selected)</ng-container>
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="close()">CANCEL</button>
    <button mat-raised-button color="primary" type="submit" cdkFocusInitial>SAVE</button>
  </mat-dialog-actions>
</form>