<app-consultant-section-header title="Technical Skills" titleColor="primary" [underline]="true">
	<button mat-icon-button color="primary" (click)="openEditSkillsDialog()">
	  <mat-icon>add</mat-icon>
	</button>
</app-consultant-section-header>

<section class="container" *ngIf="technicalSkills$ | async as technicalSkills">
	<div class="row">
		<div class="col">
			<p *ngFor="let skill of technicalSkills | slice:0:5">{{skill.name}}</p>
		</div>
		<div class="col">
			<p *ngFor="let skill of technicalSkills | slice:5">{{skill.name}}</p>
		</div>
	</div>
</section>